body {
    background-image: url('https://images.squarespace-cdn.com/content/v1/5f329f79c232cb4ecb69ba9a/1612605366161-JMYH2SDRM98M9ZEFY31W/food+background+for+restaurant+menu-3.jpg?format=500w');
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    color: white;
}

section {
    width: 100%;
}

.cards {
    display: inline-flex;
}

.card {
    width: 200px;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    margin-right: 5px;
    border: none;
    box-shadow: 0 5px 25px rgba(255, 255, 255, 0.527);
    display: inline;
}

.card:hover{
    transform: scale(1.04);
}

.half1{
    height: 50%;
    width: 100%;
    /* background-color: aquamarine; */
    box-sizing: border-box;

}

.half2{
    height: 50%;
    /* background-color: blueviolet; */
    box-sizing: border-box;
    width: 100%;


}

img {
    width: 100%;
}